langchain==0.3.25
langchain-community==0.3.24
langchain-huggingface==0.1.2
langchain-groq==0.3.2
langchain-text-splitters==0.3.8
langchain-core==0.3.59
faiss-cpu==1.9.0
sentence-transformers==2.7.0
pypdf==3.17.4
gradio==5.9.1
gradio_client==1.5.2
transformers==4.44.0
huggingface_hub==0.25.1
torch==2.1.0
python-dotenv==1.0.1